In [1]:

import warnings
warnings.filterwarnings('ignore')
# Numerical libraries
import math
import numpy as np   

# Import Linear Regression machine learning library
from sklearn.linear_model import LinearRegression

# to handle data in form of rows and columns 
import pandas as pd    

# importing ploting libraries
import matplotlib.pyplot as plt   
plt.style.use('classic')

#importing seaborn for statistical plots
import seaborn as sns

from sklearn.model_selection import train_test_split
import statsmodels.formula.api as smf
from scipy.stats import zscore
from statsmodels.stats.outliers_influence import variance_inflation_factor

# To enable plotting graphs in Jupyter notebook
%matplotlib inline

In [2]:
data = pd.read_csv('Apps_data+(1).csv')
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [3]:
df = data.copy()
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [4]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
df.shape # size of the data

(10841, 13)

In [6]:
df.info() # information of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

# 3. summary statistics

In [7]:
# Descriptive summary
summary = df.describe().T

print('Descriptive summary\n', summary) 

columns_to_work = []

print('\nColumns to work for model building:',columns_to_work)

Descriptive summary
          count      mean       std  min  25%  50%  75%   max
Rating  9367.0  4.193338  0.537431  1.0  4.0  4.3  4.5  19.0

Columns to work for model building: []

In [43]:
# Define a lambda function
needs_work = lambda col: (
    (df[col].dtype in ['int64', 'float64']) or
    (df[col].dtype == 'object')
)


columns_to_work = [col for col in df.columns if needs_work(col)]

print('Columns to work for model building:', columns_to_work)

Columns to work for model building: ['Reviews', 'Size', 'Installs', 'Price']

# 4. Finding the duplicate values

In [8]:
df[df.duplicated()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8643,Wunderlist: To-Do List & Tasks,PRODUCTIVITY,4.6,404610,Varies with device,"10,000,000+",Free,0,Everyone,Productivity,"April 6, 2018",Varies with device,Varies with device
8654,"TickTick: To Do List with Reminder, Day Planner",PRODUCTIVITY,4.6,25370,Varies with device,"1,000,000+",Free,0,Everyone,Productivity,"August 6, 2018",Varies with device,Varies with device
8658,ColorNote Notepad Notes,PRODUCTIVITY,4.6,2401017,Varies with device,"100,000,000+",Free,0,Everyone,Productivity,"June 27, 2018",Varies with device,Varies with device
10049,Airway Ex - Intubate. Anesthetize. Train.,MEDICAL,4.3,123,86M,"10,000+",Free,0,Everyone,Medical,"June 1, 2018",0.6.88,5.0 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

In [9]:
duplicate_values = df[df.duplicated(keep = 'first')]

if not duplicate_values.empty:
    print('Duplicates value found. Dropping the duplicates')
    df= df.drop_duplicates(keep='first')
    print('Duplicates dropped')
else:
    print('No duplicates found')

Duplicates value found. Dropping the duplicates
Duplicates dropped

# 5. Finding unique valid category and dropping invalid category

In [10]:
df['Category'].unique()  # identifying unique valid category

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [11]:
df= df[df['Category']!='1.9'] # dropping the row in invalid category 
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [12]:
df['Category'].value_counts() # checking whether it is removed or not

FAMILY                 1943
GAME                   1121
TOOLS                   843
BUSINESS                427
MEDICAL                 408
PRODUCTIVITY            407
PERSONALIZATION         388
LIFESTYLE               373
COMMUNICATION           366
FINANCE                 360
SPORTS                  351
PHOTOGRAPHY             322
HEALTH_AND_FITNESS      306
SOCIAL                  280
NEWS_AND_MAGAZINES      264
TRAVEL_AND_LOCAL        237
BOOKS_AND_REFERENCE     230
SHOPPING                224
DATING                  196
VIDEO_PLAYERS           175
MAPS_AND_NAVIGATION     137
EDUCATION               130
FOOD_AND_DRINK          124
ENTERTAINMENT           111
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       85
WEATHER                  82
HOUSE_AND_HOME           80
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: Category, dtype: int64

# 6. Check if there are missing values present in the column Rating, If any? drop them and and create a new column as 'Rating_category' by converting ratings to high and low categories(>3.5 is high rest low)

In [13]:
# checking missing values
data = pd.read_csv('Apps_data+(1).csv')
data
missing_values = data['Rating'].isnull().sum()
print('Count of missing values:',missing_values)

df['Rating'] = data['Rating']

Count of missing values: 1474

In [14]:
# dropping missing values 
df = df.dropna(subset=['Rating'])

# creating a new column as Rating Category
df.loc[:,'Rating_category'] = df['Rating'].apply(lambda x: 'High' if x > 3.5 else 'Low')

# displaying the result
df['Rating_category']

0        High
1        High
2        High
3        High
4        High
         ...
10834    High
10836    High
10837    High
10839    High
10840    High
Name: Rating_category, Length: 8892, dtype: object

# 7.Check the distribution of the newly created column 'Rating_category' and comment on the distribution.

In [16]:
# checking the distribution of Rating_category
df['Rating_category'].value_counts()

#Inference
# From this distribution we can see that majority of the datapoints falls into the Highest Rating category(8012). 
# Remaining apps rating which is falls under lowest rating category.

High    8012
Low      880
Name: Rating_category, dtype: int64

# 8.Convert the column "Reviews'' to numeric data type and check the presence of outliers in the column and handle the outliers using a transformation approach.(Hint: Use log transformation)

In [34]:
# Step 1: Convert the 'Reviews' column to a numeric data type
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')

# Step 2: Calculate the IQR (Interquartile Range) for the 'Reviews' column
Q1 = df['Reviews'].quantile(0.25)
Q3 = df['Reviews'].quantile(0.75)
IQR = Q3 - Q1

# Step 3: Define the IQR threshold 
IQR_threshold = 1.5

# Step 4: Identify outliers based on the IQR
outliers_low = df['Reviews'] < (Q1 - IQR_threshold * IQR)
outliers_high = df['Reviews'] > (Q3 + IQR_threshold * IQR)

# Step 5: Apply log transformation to handle outliers
df.loc[outliers_low, 'Reviews'] = np.log1p(df.loc[outliers_low, 'Reviews'])
df.loc[outliers_high, 'Reviews'] = np.log1p(df.loc[outliers_high, 'Reviews'])

# Step 6: Check if there are any remaining outliers
outliers = df[outliers_low | outliers_high]

if outliers.empty:
    print('No outliers found')
else:
    print("Outliers found and treated:", len(outliers))

Outliers found and treated: 1245

# 9.The column 'Size' contains alphanumeric values, treat the non numeric data and convert the column into suitable data type. (hint: Replace M with 1 million and K with 1 thousand, and drop the entries wheresize='Varies with device')

In [18]:
# Replace 'M' with 'e6' and 'K' with 'e3', then converting to numeric
df['Size'] = df['Size'].replace({'M': 'e6', 'K': 'e3', 'Varies with device': np.nan}, regex=True)
df['Size'] = pd.to_numeric(df['Size'], errors='coerce')

# Drop rows with 'Size' as NaN
df = df.dropna(subset=['Size'])
df['Size'].head()

0    19000000.0
1    14000000.0
2     8700000.0
3    25000000.0
4     2800000.0
Name: Size, dtype: float64

# 10.Check the column 'Installs', treat the unwanted characters and convert the column into a suitable data type.

In [19]:
# Identifying unwanted characters
df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000+', '500,000,000+', '100+', '500+', '10+', '1,000,000,000+',
       '5+', '50+', '1+'], dtype=object)

In [20]:
# Converting the datatype
df['Installs'] = df['Installs'].str.replace('[+,]','', regex= True)
df['Installs'].head()
df['Installs'].astype(int)

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10830      100000
10834         500
10836        5000
10837         100
10840    10000000
Name: Installs, Length: 7167, dtype: int32

# 11.Check the column 'Price' , remove the unwanted characters and convert the column into a suitable data type.

In [21]:
# Identifying unwanted characters
df['Price'].unique()

array(['0', '$4.99', '$6.99', '$7.99', '$3.99', '$5.99', '$2.99', '$1.99',
       '$9.99', '$0.99', '$9.00', '$5.49', '$10.00', '$24.99', '$11.99',
       '$79.99', '$16.99', '$14.99', '$29.99', '$12.99', '$3.49', '$7.49',
       '$1.50', '$19.99', '$15.99', '$33.99', '$39.99', '$2.49', '$4.49',
       '$1.70', '$1.49', '$3.88', '$399.99', '$17.99', '$400.00', '$3.02',
       '$1.76', '$4.84', '$4.77', '$1.61', '$1.59', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$15.46', '$8.99', '$3.04', '$13.99',
       '$4.29', '$3.28', '$4.60', '$1.00', '$10.99', '$2.90', '$1.97',
       '$2.56', '$1.20'], dtype=object)

In [22]:
# Converting the dataype and removing unwanted characters
df['Price'] = df['Price'].astype(str)
df['Price'] = df['Price'].str.replace('[$]', '', regex=True)
df['Price'].head()
# converting the data type to float
df['Price'] = df['Price'].astype(float)
df['Price'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Price, dtype: float64

# 12. Drop the columns which you think redundant for the analysis.(suggestion: drop column 'rating', since we created a new feature from it (i.e. rating_category) and the columns 'App', 'Rating' ,'Genres','Last Updated', 'Current Ver','Android Ver' columns since which are redundant for our analysis)

In [23]:
# dropping the reundant columns
columns_to_drop = ['App','Rating', 'Genres', 'Last Updated', 'Current Ver', 'Android Ver']
df = df.drop(columns = columns_to_drop)

In [24]:
df.head()

,Category,Reviews,Size,Installs,Type,Price,Content Rating,Rating_category
0,ART_AND_DESIGN,159.000000,19000000.0,10000,Free,0.0,Everyone,High
1,ART_AND_DESIGN,967.000000,14000000.0,500000,Free,0.0,Everyone,High
2,ART_AND_DESIGN,87510.000000,8700000.0,5000000,Free,0.0,Everyone,High
3,ART_AND_DESIGN,12.281389,25000000.0,50000000,Free,0.0,Teen,High
4,ART_AND_DESIGN,967.000000,2800000.0,100000,Free,0.0,Everyone,High

# 13. Encode the categorical columns

In [25]:
df.describe(include= 'object')

       Category Installs  Type Content Rating Rating_category
count      7167     7167  7167           7167            7167
unique       33       19     2              6               2
top      FAMILY  1000000  Free       Everyone            High
freq       1569     1210  6670           5709            6385

In [26]:
df.columns

Index(['Category', 'Reviews', 'Size', 'Installs', 'Type', 'Price',
       'Content Rating', 'Rating_category'],
      dtype='object')

In [27]:
# Creating dummy for Category has number unique value in category column
from sklearn.preprocessing import LabelEncoder
df = pd.get_dummies(df, columns=['Category'], prefix='Category')

# Label encoding for Type, Content Rating, and Rating_category
label_encoder = LabelEncoder()
df['Type'] = label_encoder.fit_transform(df['Type'])
df['Content Rating'] = label_encoder.fit_transform(df['Content Rating'])
df['Rating_category'] = label_encoder.fit_transform(df['Rating_category'])

In [28]:
df

,Reviews,Size,Installs,Type,Price,Content Rating,Rating_category,Category_ART_AND_DESIGN,Category_AUTO_AND_VEHICLES,Category_BEAUTY,...,Category_PERSONALIZATION,Category_PHOTOGRAPHY,Category_PRODUCTIVITY,Category_SHOPPING,Category_SOCIAL,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER
0,159.000000,19000000.0,10000,0,0.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,967.000000,14000000.0,500000,0,0.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,87510.000000,8700000.0,5000000,0,0.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12.281389,25000000.0,50000000,0,0.0,4,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,967.000000,2800000.0,100000,0,0.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10830,881.000000,2300000.0,100000,0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10834,7.000000,2600000.0,500,0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10836,38.000000,53000000.0,5000,0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10837,4.000000,3600000.0,100,0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10840,12.894981,19000000.0,10000000,0,0.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 14. Segregate the target and independent features (Hint: Use Rating_category as the target)

In [29]:
# Define the target variable
target = df['Rating_category']
features = df.drop(columns=['Rating_category'])

# 15. Split the dataset into train and test.

In [30]:
from sklearn.model_selection import train_test_split

# Spliting the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)

# 16. Standardize the data, so that the values are within a particular range

In [31]:
# Standardizing the data in same scale

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_train_scaled

array([[-0.28835869, -0.73660919, -0.16733392, ..., -0.14407297,
        -0.12486072, -0.08012831],
       [ 4.8111513 , -0.58769473,  0.04567355, ..., -0.14407297,
        -0.12486072, -0.08012831],
       [-0.41639289,  1.46732492, -0.16840972, ..., -0.14407297,
        -0.12486072, -0.08012831],
       ...,
       [-0.44655373, -0.81744848, -0.16927035, ..., -0.14407297,
        -0.12486072, -0.08012831],
       [-0.23706324, -0.59620413, -0.15872756, ..., -0.14407297,
        -0.12486072, -0.08012831],
       [-0.21007888, -0.23455471, -0.14796961, ..., -0.14407297,
        -0.12486072, -0.08012831]])

In [32]:
X_test_scaled

array([[-0.13453524, -0.23455471, -0.14796961, ..., -0.14407297,
        -0.12486072, -0.08012831],
       [-0.43494857, -0.10691373, -0.16733392, ..., -0.14407297,
        -0.12486072, -0.08012831],
       [-0.43211804, -0.91530656, -0.16840972, ..., -0.14407297,
        -0.12486072, -0.08012831],
       ...,
       [ 1.82142224, -0.31964869, -0.14796961, ..., -0.14407297,
        -0.12486072, -0.08012831],
       [-0.18303161, -0.76213739, -0.16733392, ..., -0.14407297,
        -0.12486072, 12.47998397],
       [-0.44812625, -0.86850487, -0.16948336, ..., -0.14407297,
        -0.12486072, -0.08012831]])